@import '../scss/colors.scss';

.input-field{
	width: 300px;
	padding-left: 50px;
	padding-bottom: 20px;
	margin-right: 60px;
	color: $white;

	&__primary{
		background: transparent url(../img/svg/oval.svg) no-repeat left top;
		background-size: 20px;
		border:none;
		border-bottom: solid 2px #fff;
		outline: none;
		
		&::placeholder{
			color: $white;
			font-size: 18px;
			font-weight: 500;
		}

	}
	&__witherror{
		background: transparent url(../img/svg/oval_err.svg) no-repeat left top;
		background-size: 20px;
		border:none;
		border-bottom: solid 2px rgb(156, 18, 18);
		outline: none;
		
		&::placeholder{
			color: $white;
			font-size: 18px;
			font-weight: 500;
		}
	}
}