@import "./mixins.scss";
@import "./colors.scss";
@import "./icons.scss";

.section-perfection{
	margin-bottom: 130px;
	.section-inner{
		max-width: 1260px;
		margin: 0 auto;
		font-family: "Lato";
	}
	&__block1{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 140px;
		align-items: center;
		margin-bottom: 75px;
		.picture{
			position: relative;
			z-index: 10;
				&::before{
				content: ' ';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(21, 24, 36, 0.2);
				z-index: 5;
				}
				width: 600px;
				&__img{
					width: 100%;
				}
		}
		.content{
			.tittle{
				font-size: 30px;
				font-weight: 500;
				line-height: 40px;
				color: $txtMain;
				margin-bottom: 65px;
			}
			.subtittle{
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				color: $txtMain;
				margin-bottom: 65px;
			}
			.navigation{
				display: flex;
				align-items: center;
				&__text{
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					color: $primary;
					text-transform: uppercase;
				}
				&__icon{
					margin-left: 35px;
				}
			}
		}
	}
	&__block2{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 140px;
		align-items: center;

		.picture{
			width: 600px;
			align-content: center;
			&::before{
				content: ' ';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(21, 24, 36, 0.2);
				z-index: 5;
				}
			&__img{
				width: 100%;
			}
		}
		.content{
			.tittle{
				font-size: 30px;
				font-weight: 500;
				line-height: 40px;
				color: $txtMain;
				margin-bottom: 65px;
			}
			.subtittle{
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				color: $txtMain;
				margin-bottom: 65px;
			}
			.link{
				display: flex;
				align-items: center;
				&__text{
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					color: $primary;
					text-transform: uppercase;
				}
				&__icon{
					margin-left: 35px;
				}
			}
		}
	}

}