@import "./global.scss";
@import "./mixins.scss";
@import "./colors.scss";
@import "./icons.scss";
@import "../components/section-header.scss";
@import "./section-banner.scss";
@import "./section-benefits.scss";
@import "./section-inspiration.scss";
@import "./section-perfection.scss";
@import "./section-toplist.scss";
@import "./section-video.scss";
@import "./section-footer.scss";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	margin: 0;
}










